<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="tests.datetime" value="2017-1-1 0:0:0"/>
    <add key="tests.url" value="//baidu.com"/>
    <add key="tests.maxlength" value="9999.99"/>
    <add key="tests.minlength" value="0.01"/>
    <add key="tests.delay" value="1000"/>
    <add key="tests.enable" value="true"/>
  </appSettings>
</configuration>